html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

//* borrowed dat.gui styling *//

.dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
}

.dg.main .close-button {
    background-color: #ccc;
}

.dg.main .close-button:hover {
    background-color: #ddd;
}

.dg {
    color: #555;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: #fafafa;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}

.dg li:not(.folder) {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}

.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

.dg .cr.function:hover,
.dg .cr.boolean:hover {
    background: #fff;
}

.dg .c input[type=text] {
    background: #e9e9e9;
}

.dg .c input[type=text]:hover {
    background: #eee;
}

.dg .c input[type=text]:focus {
    background: #eee;
    color: #555;
}

.dg .c .slider {
    background: #e9e9e9;
}

.dg .c .slider:hover {
    background: #eee;
}


//* Description *//

.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.div-block {
    margin-bottom: -2px;
    padding-bottom: 551px;
    overflow: scroll;
}

.div-block-2 {
    width: 50px;
}

.div-block-3 {
    width: 50vw;
    height: 100vh;
    margin-bottom: 20px;
    margin-left: 20px;
    
}

.grid {
    margin-bottom: 115px;
    padding-top: 5px;
    grid-auto-flow: column;
    grid-column-gap: 0em;
    grid-row-gap: 0em;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    
}

.list {
    padding-left: 0px;
    list-style-type: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.description{
    margin-top: -20px;
}

.heading {
    text-align: left;
}

h1 {
 font-family: 'Open Sans Condensed', sans-serif;
 text-decoration: underline;   
}

h2 {
 font-family: 'Open Sans Condensed', sans-serif;
 margin-top: -20px;
}

p {
 font-family: 'Open Sans Condensed', sans-serif;   
}

.controls{
    margin-top:-10px;
}

.title{
    font-size: 40px;
}